@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
}

.tab-active {
  @apply font-bold;
}

.list-wrapper {
  @apply border border-gray-200 rounded-md divide-gray-200 divide-y;
}

.table-header {
  @apply flex justify-end px-3 space-x-[15px] mb-2;
}

.table-header-cell {
  @apply text-left text-sm font-semibold;
}

.table-row {
  @apply p-3 flex flex-row items-center hover:bg-gray-100;
}
